:root{
    --greenBg: rgb(109, 194, 166);
    --greenSoft: rgb(222, 241, 234);
    --darkGreen:  rgb(20, 81, 59);
    --lightRed: rgb(218, 54, 79);
}

.menos,
.mas{
    width: 5vh;
    height: 4vh;
    border: transparent;
    border-radius: 50%;
    padding: 0 0 0 0;
    background-color: var(--greenSoft);
}

.menos{
    color: var(--lightRed);
}

.mas{
    color: var(--darkGreen);
}

.container{
    display: flex;
    align-items: center;
}

.number{
    width: 50%; 
    text-align: center;
    color: var(--greenSoft);
}